<div>
    <div class="agm-table-container">
        <div class="header">
            <div class="row">
                <div>
                    <input type="text" placeholder="spell" ng-model="filterText" ng-model-options="{ debounce: 1000 }">
                    <button ng-click="initialize()"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <div>
                    <button ng-click="initialize()"><span class="glyphicon glyphicon-refresh"</span> </button>
                </div>
                <div>
                    <button ng-click="exceldownload()"><span class="glyphicon glyphicon-arrow-down"></span><span class="glyphicon glyphicon-file"></span></button>
                </div>
            </div>
            <div class="row">
                <div mild-table-th predicate="id" title="id" enablefilter="false"></div>
                <div mild-table-th predicate="firstName.name" title="이름" enablefilter="true" />
                <div mild-table-th predicate="lastName" title="성" enablefilter="true" />
                <div mild-table-th predicate="nationality" title="국적" enablefilter="true" />
                <div mild-table-th predicate="education" title="교육" enablefilter="true" />
            </div>
        </div>
        <div class="body">
            <vsscrollbar items="allItems" items-in-page="30" height="800" ng-model="responseData">
                <div class="row" ng-repeat="item in visibleItems track by $index" ng-click="itemClicked($index, item);">
                    <div>{{item.id}}</div>
                    <div>{{item.firstName.name}}</div>
                    <div>{{item.lastName}}</div>
                    <div>{{item.nationality}}</div>
                    <div>{{item.education}}</div>
                    <div>
                        <select name="mySelect" id="mySelect"
                                ng-options="item in item.summary track by $index"></select>
                    </div>
                    <div>{{item.summary.e}}</div>
                    <div>{{item.summary.n}}</div>
                    <div>{{item.summary.f}}</div>
                </div>
            </vsscrollbar>
        </div>
        <div class="footer">
            <div>
                {{topIndex}} ~ {{topIndex + itemNumPage}}/ {{filteredItemCount}}/ {{allItems.length}}
            </div>
        </div>
    </div>

    <div ng-show="false">
        <div>
            <div ng-include="'response.html'"></div>
            <hr />
            <div id="clickedtext">{{clickedText}}</div>
        </div>

        <script type="text/ng-template" id="response.html">
            <h5>Callback data from the directive</h5>
            <table id="callbacktbl">
                <tr>
                    <td>Top index</td>
                    <td>{{topIndex}}</td>
                </tr>
                <tr>
                    <td>Max top index</td>
                    <td>{{maxIndex}}</td>
                </tr>
                <tr>
                    <td>Top scroll pos</td>
                    <td>{{topPos}}</td>
                </tr>
                <tr>
                    <td>Max scroll pos</td>
                    <td>{{maxPos}}</td>
                </tr>
                <tr>
                    <td>Filtered page count</td>
                    <td>{{filteredPageCount}}</td>
                </tr>
                <tr>
                    <td>Filtered item count</td>
                    <td>{{filteredItemCount}}</td>
                </tr>
                <tr>
                    <td>Visible items</td>
                    <td>{{visibleItems}}</td>
                </tr>
            </table>
        </script>
    </div>
    <style ng-if="false">

        #pagemargin {
            margin: 0px 15px 0px 15px;
        }

        #item {
            border: 1px solid #BCE8F1;
            height: 25px;
            margin-bottom: 1px;
            border-radius: 2px;
            background-color: #FAFAFA;
            color: #3A87AD;
            font-size: 0.8em;
            padding-left: 2px;
            cursor: pointer;
        }

            #item:last-child {
                margin-bottom: 0px;
            }

            #item:hover {
                background-color: lightgreen;
                color: darkblue;
            }

        #itemtext {
            line-height: 25px;
        }

        #col {
            display: inline-block;
            width: 10%;
        }

        #filter input, h3, h5 {
            width: 100%;
            min-width: 150px;
            border: 1px solid #CCC;
            border-radius: 2px;
            padding: 4px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 8px;
        }

        h3, h5 {
            background-color: #90EE90;
        }

        #checkbox input {
            margin-bottom: 10px;
        }

        #checkbox label, p {
            font-size: 0.8em;
        }

        #callbacktbl {
            color: blue;
            width: 100%;
            min-width: 150px;
            font-size: 0.8em;
            border-collapse: collapse;
            border-spacing: 0px;
            border: 1px solid #AAA;
        }

            #callbacktbl td {
                padding: 4px;
                border: 1px solid #AAA;
            }

                #callbacktbl td:first-child {
                    color: black;
                    width: 130px;
                }

        #clickedtext {
            color: green;
            font-size: 0.8em;
        }
    </style>
</div>